<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv = "Content-Type" content = "text/html; charset=windows-1251">
  <title>Таблица на JavaScript</title>
  <style type = "text/css">
    td {
      text-indent: 0;
      text-align: center;
      font-weight: bold;
      font-size: 27px;
      color: black;
    }
  </style>
  <script type = "text/javascript" src = "tryTbl.js"></script>
</head>
<body style = "background-color: rgb(240, 250, 250)">
<script type = "text/javascript">
  mkTbl('50px', 5);
  nGmFftngs();
</script>
</body>
</html>